
#TopHeading{
    display: grid;

    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto auto;
    background-color: rgb(131, 192, 131);
    height: 300px;

    border-bottom: solid;
}

#mainMenu{
    display: grid;

    grid-template-rows: 30px 30px auto;

    justify-items: center;
    align-items: center;
}

.Titleimage1{
    display: grid;

    grid-column-start: 2;
    grid-row-start: 1;

    align-self: center;
    justify-self: center;
}

.Titleimage2{
    display: grid;

    grid-column-start: 2;
    grid-row-start: 2;

    align-self: center;
    justify-self: center;

}

.Titleimage3{
    display: grid;

    grid-column-start: 1;
    grid-row-start: 1;

    align-self: center;
    justify-self: right;

    margin-left: 50px;

    justify-self: flex-start;
}

#Score{
    display: grid;

    grid-column-start: 3;
    grid-row-start: 1;

    text-align: center;
    align-self: center;
    justify-self: center;

    font-size: 50px;
}

#card{
    display: grid;

    grid-template-rows: 300px 100px;

    justify-items: center;

    text-align: center;

    border-style: solid;

    margin: 10px    ;

    width: 250px;
    height: 400px;

    background-color: white;
}

#card:hover{
    box-shadow: 2px 2px 10px gray;
}

#GamePage{
    display: grid;

    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
}

#strtBtn{
    background-image: url('./Images/button.png');
    font-size: 20px;
    padding-top: 160px;
    width: 200px;
    height: 200px;
}

#newGameMessage{
    margin-top: 0px;
}