
#TopHeading{
    display: grid;

    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto auto;
    background-color: rgb(131, 192, 131);
    height: 300px;

    border-bottom: solid;
}

.Titleimage1{
    display: grid;

    grid-column-start: 2;
    grid-row-start: 1;

    align-self: center;
    justify-self: center;
}

.Titleimage2{
    display: flex;

    grid-column-start: 2;
    grid-row-start: 2;

    align-self: center;
    justify-self: center;

}

.Titleimage3{
    display: flex;

    grid-column-start: 1;
    grid-row-start: 1;

    align-self: center;
    justify-self: right;

    margin-left: 50px;

    justify-self: flex-start;
}

#card{
    display: grid;

    grid-template-rows: 400px 100px;

    width: 200px;
    height: 500px;
}

#GamePage{
    display: grid;

    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
}